.hero__main_image {
    width: 100%;
    height: 750px;
    object-fit: cover;
    opacity: 0.1;
    z-index: -10;
}

.hero__container {
    position: relative; 
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-image: linear-gradient(to right top, #fd7304, #d55227, #a7392e, #75272c, #441a21, #441a21, #441a21, #441a21, #75272c, #a7392e, #d55227, #fd7304);
    z-index: 0;
}

.hero__title {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    /* max-width: 1200px;
    width: calc(100% - 30px); */
    width: 100%;
    max-width: 90%;
    padding: 0 15px;
    box-sizing: border-box;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hero__h1 {
    font-size: 1em;
    color: var(--primary-color);
    margin-bottom: 5px;
}

.hero__h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

.hero__button_container {
    display: flex;
    gap: 15px;
}

/* @media (prefers-color-scheme: light) {
    .hero__h2 {
        color: #fff;
    }
} */

@media screen and (min-width: 1025px) {
    .hero__title {
        padding-left: calc((100% - 1600px) / 2 + 15px);
        padding-right: 15px; 
    }
    
    .hero__h1 {
        font-size: 1.3em; 
    }

    .hero__h2 {
        max-width: 60%;
        font-size: 4em;
    }
}
