/* About (Why Choose Us) Section */
.home_about__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    max-width: var(--container-width-large);
    padding: 75px 15px;
    margin: auto;
}

.home_about__image {
    object-fit: cover;
}

.home_about__buttons {
    display: flex;
    gap: 10px;
}

@media screen and (min-width: 1025px) {
    .home_about__container {
        flex-wrap: nowrap;
        padding: 125px 15px;
    }
}
 @media screen and (max-width: 768px) {
    .home_about__image {
        width: 100%;
    }
 }