.client_section {
    overflow: hidden; /* Hide the overflow to make the animation seamless */
    background-color: #222;
    padding: 25px 0;
}

.client_logos__marquee {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.client_logos__container {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.client_logos__container li:last-child {
    margin: 0;
}

.client_logos__container_duplicate {
    display: none; 
}

.client_logos__logo {
    margin: 0 30px; 
}

.client_logos__logo img {
    object-fit: contain;
    filter: grayscale(1);
    transition: filter 0.3s ease;
}

.client_logos__logo img:hover {
    filter: grayscale(0);
}

@media screen and (min-width: 768px) {
    .client_logos__logo img {
        max-width: 85%;
    }
}

@media screen and (max-width: 768px) {
    .client_logos__container {
        animation: marquee 20s linear infinite; 
    }

    .client_logos__container_duplicate {
        display: flex;
    }

    @keyframes marquee {
        from {
            transform: translateX(0%);
        }
        to {
            transform: translateX(-50%);
        }
    }
}
