.contact_section__section {
    width: 100%;
    padding: 75px 15px;
    /* margin: 75px 0 75px; */
    background-color: var(--primary-bg-color);
    /* background-image: linear-gradient(180deg, transparent 10%, var(--primary-color) 100%),url('../public/contact/contact-bg-1.jpg');
    background-image: linear-gradient(180deg, transparent 10%, var(--primary-color) 100%),url('../public/contact/contact-bg-2.jpg'); */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.73)), url("../public/contact/contact-bg-2.webp");
    background-position: center;
}

.contact_section__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1075px;
    margin: auto;
    text-align: center;
}

.contact_section__form {
    margin-top: 25px;
    width: 100%;
}

/* @media (prefers-color-scheme: light) {
    .contact_section__container {
        color: #fff !important;
    }    
} */

@media screen and (min-width: 1025px) {
    .contact_section__container {
        flex-wrap: nowrap;
    }

    .contact_section__text {
        text-align: left;
    }

    .contact_section__text p {
        max-width: 75%;
    }

    .contact_section__form {
        width: 50%;
    }
}