.footer {
    position: relative;
    background-color: var(--primary-bg-color);
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 50px; */
    max-width: 990px;
    margin: auto;
    padding: 75px 15px;
    text-align: center;
}

.footer__copyright {
    padding: 15px;
    border-top: 1px solid grey;
}

.footer__logo {
    object-fit: contain;
}

.footer__links {
    width: 100%;
    margin-top: 25px;
}

.footer__links a {
    padding: 10px 5px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 300;
}

.footer__links h2 {
    margin-bottom: 4px;
    color: var(--primary-color);
}

@media (prefers-color-scheme: light) {
    .footer {
        color: #fff;
    }
}

@media screen and (min-width: 1025px) {
    .footer__container {
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 6%;
        width: 100%;
        text-align: left;        
    }

    .footer__links {
        margin-top: 10px;
    }

    .footer__links a {
        padding: 0;
        line-height: 23px;
        font-size: 16px;
        font-weight: 400;
    }    
}