.random_testimonial {
    /* border: 1px solid #ddd; */
    padding: 125px 20px 20px 20px;
    margin: 20px auto;
    max-width: 800px;;
    text-align: center;
    border-radius: 8px;
    /* background-color: var(--primary-bg-color); */
}

.random_testimonial_img__container {
    border-radius: 50%;
}

.random_testimonial img {
    max-width: 200px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.random_testimonial_quote {
    display: flex;
    position: relative;
    left: -17px;
    margin-bottom: 15px;
    font-size: 1.2em;
    font-weight: 400;
}

.random_testimonial_quote:before {
    content: open-quote;
    position: relative;
    top: -27px;
    left: 33px;
    z-index: -10;
    color: var(--primary-color);
    font-size: 4.8em;
}

.random_testimonial a {
    color: var(--primary-color);
    font-size: 1.1em;
    font-weight: 400;
}
