.testimonial {
    /* border: 1px solid #ddd; */
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;;
    text-align: center;
    border-radius: 8px;
    /* background-color: var(--primary-bg-color); */
}

.testimonial_img__container {
    border-radius: 50%;
}

.testimonial img {
    max-width: 200px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.testimonial q {
    display: flex;
    font-size: 1.1em;
    font-weight: 400;
}

.testimonial q::before {
    position: relative;
    top: -27px;
    left: 33px;
    z-index: -10;
    color: var(--primary-color);
    font-size: 4.8em;
}

.testimonial q::after {
    display: none;
}

.testimonial a {
    color: var(--primary-color);
    font-size: 1.1em;
    font-weight: 400;
}
