.tech_stack__section {
    padding: 75px 0 0;
    margin: auto;
}

/* .tech_stack__list {
    list-style-type: "→";
}

.tech_stack__list li::marker {
    margin-right: 15px;
} */

.tech_stack__list li {    
    margin: 10px 15px 10px 0;
    color: var(--text-color);
    font-size: 1.1em;
}

.tech_stack__list li span {
    color: var(--primary-color);
    font-weight: 600;
}

.tech_stack__image {
    width: 100%;
    object-fit: cover;
}

.tech_stack__bottom_text {
    
    padding: 0 15px;
}

.tech_stack__section,
.tech_stack__bottom_text {
    max-width: var(--container-width-small);
}

.tech_stack__logo_container {
    display: flex;
    justify-content: space-around;
    padding-top: 75px;
}

.tech_stack__logo_container p {
    font-size: 2.5rem;
    /* filter: grayscale(); */
}

@media screen and (min-width: 1024px) {
    .tech_stack__container {
        width: 50%;
    }
}