.about_page__container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
    margin-top: 75px;
}

.about_page__container > div:nth-child(2) {
    flex-direction: column;
}

.about_page__container img {
    object-fit: cover;
}

@media screen and (min-width: 1025px) {
    .about_page__container > div {
        flex-direction: row;
    }

    .about_page__container > div:nth-child(2) {
        flex-direction: row-reverse;
    }
}

