.about_page__hero {
    background-image: url('../assets/images/hero/header.webp');
    height: 400px;
}

.about_page__container {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: auto;
    padding: 50px 15px;
    max-width: 1000px;
}

.about_page__container img {
    object-fit: cover;
}

