.blog_loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    font-size: 1.2rem;
    font-weight: 700;
    z-index: 10000;
}

.blog_post__blog_title {
    position: absolute;
    top: 40%;
    left: 10%;
    padding: 20px;
}

.blog_post__main_img {
    object-fit: cover;
}

.blog_post__content {
    max-width: 1200px;
    margin: 50px auto;
    padding: 50px 15px;
    color: var(--text-color);
    background: #222;
    border-radius: 10px
}

.blog_post__content h1,
.blog_post__content h2,
.blog_post__content h3,
.blog_post__content strong {
    color: var(--title-color);
}

.blog_post__content a,
.blog_post__content code {
    color: var(--primary-orange);
}

.blog_post__content code {
    font-size: 1rem;
}

.blog_post__content h2 code {
    font-size: 1.5rem;
}

.blog_post__content pre code {
    color: #fff;
    white-space: pre-wrap;
}

.blog_post__content a:hover {
    filter: brightness(1.2);
}

.blog_post__content p {
    margin-bottom: 10px;
    line-height: 23px;
}

.blog_post__content ul {
    list-style: disc;
}

.blog_post__content ol,
.blog_post__content ul {
    padding: 0 0 10px 35px;
}

.blog_post__content ul li {
    padding: 6px 0;
}

.blog_post__content pre {
    padding: 20px 25px;
    margin: 20px 0;
    background-color: rgba(50,50,50, .9);
    border-radius: 10px;    
}

.blog_post__breadcrumbs {
    /* position: absolute;
    max-width: 1200px;
    padding: 20px 15px;
    margin: auto;
    z-index: 100; */
    margin-bottom: 10px;  
}

.blog_post__breadcrumbs a {
    color: #fff;
}

.blog_post__breadcrumbs a:hover {
    color: var(--primary-orange);
}

.blog_post__breadcrumbs span {
    color: var(--primary-orange);
    font-weight: 600;
}

@media screen and (min-width: 1025px) {
    .blog_post__content {
        padding: 50px 61px;
    }
}

/* .blog_post__breadcrumbs a:nth-child(3) {
    color: var(--primary-orange);
} */

/* .blog_post_tldr__section {
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
}

.related_article__container {
    margin: 20px 0;
    font-size: 18px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 20px 0;
}
  
.related_article__container a {
    color: var(--primary-orange);
} */
