/* .header {
    width: 100%;
}

.header__main_image {
    object-fit: cover;
    opacity: .5;
}

.contact_page__header_text {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 400px;
    max-width: 100%;
    padding: 0 15px;
} */

/* .contact_page__h1 {
    color: var(--primary-orange);
    margin-bottom: 5px;
} */

/* .contact_page__h1 {
    font-size: 4em;
    max-width: 1000px;
    margin: auto;
} */

/* .contact_page__container {
    padding: 75px 0 0;
} */

.contact_page__container {
    padding: 50px 15px;
}

.contact_page__text {
    margin-bottom: 20px;
}

.contact_page__form_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--grey-bg-gradient);
    text-align: center;
    border-radius: 10px;
}

.contact_page__details {
    width: 100%;
    padding: 50px 15px;
}

.contact_page__details li {
    font-size: 1.1em;
}

.contact_page__details li:first-child {
    font-weight: 600;
}

.contact_page__form {
    width: 100%;
    padding: 75px 15px;
    /* background-color: var(--primary-orange); */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)), url("../public/testimonials/testimonials-bg.webp");
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0 10px 10px 0;
}

.contact_page__form form > div input,
.contact_page__form form > div textarea {
    width: 100%;
    margin-bottom: 8px;
    padding: 10px;
    /* color: #fff; */
    background: #333;
    outline: 0;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid #fff;
}

.contact_page__form form > div label {
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    font-size: 1px;
    height: 10px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    color: #fff;
}

.contact_page__form form input::placeholder,
.contact_page__form form textarea::placeholder {
    color: #fff;
}

@media (prefers-color-scheme: light) {
    .contact_page__container {
        color: #fff;
    }
}

@media screen and (min-width: 1023px) {
    .contact_page__container {
        padding: 100px 50px;
    }

    .contact_page__form_container {
        flex-wrap: nowrap;
        max-width: 1200px;
        margin: auto;
        text-align: left;
    }

    .contact_page__details {
        padding: 50px 50px 50px 100px;
    }
    
    .contact_page__form {
        padding: 125px 70px;
    }
}