.contact_form__form > div input,
.contact_form__form > div textarea {
    width: 100%;
    margin-bottom: 8px;
    padding: 10px;
    background: transparent;
    outline: 0;
    border: none;
    border-bottom: 1px solid #fff;
}

.contact_form__form > div label {
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    font-size: 1px;
    height: 10px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    color: #fff;
}

.contact_form__form input::placeholder,
.contact_form__form textarea::placeholder {
    color: #fff;
}