.footer {
    position: relative;
    background-color: #333;
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 50px; */
    max-width: 990px;
    margin: auto;
    padding: 75px 15px;
    text-align: center;
}

.footer__copyright {
    padding: 15px;
    border-top: 1px solid grey;
}

.footer__logo {
    object-fit: contain;
}

.footer__links {
    width: 100%;
    margin-top: 25px;
}

.footer__links h2 {
    color: var(--primary-orange);
}

@media (prefers-color-scheme: light) {
    .footer {
        color: #fff;
    }
}

@media screen and (min-width: 1025px) {
    .footer__container {
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 10%;
        width: 100%;
        text-align: left;        
    }

    .footer__links {
        margin-top: 0;
    }
}