.footer {
    background-color: #333;
}

.footer__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 50px; */
    max-width: 80%;
    margin: auto;
}