
  
  .main_nav__nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
    height: 75px;
    transition: .5s ease-in-out;
  }
  
  .main_nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .main_nav__scrolled {
    background-color: #333;
    box-shadow:
      0 1px 1px hsla(0, 87%, 49%, 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075);
  }
  
  .main_nav__logo {
    width: 100%;
    object-fit: contain;
  }
  
  .main_nav__navLinks {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    visibility: hidden;
    list-style: none;
  }
  
  .main_nav__navLinks_visible {
    top: 103%;
    right: 0;
    background: #333;  
    padding: 45px 0 25px;  
    text-align: center;
    visibility: visible;
    transition: .5s ease-in-out;
  }
  
  .main_nav__container_grey {
    background-color: #333;
  }
  
  .main_nav__links_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .main_nav__navLinks li {
    padding: 15px;
    margin: 5px 0;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  
  .main_nav__navLinks a {
    position: relative;
    color: #fff; /* Default color */
    text-decoration: none;
  }
  
  .main_nav__navLinks a.active {
    color: var(--primary-orange);
  }
  
  .main_nav__navLinks a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    background: var(--primary-orange);
    transition: width 0.4s ease, left 0.4s ease;
    left: 50%;
    bottom: -5px;
  }
  
  .main_nav__navLinks a:hover::after {
    width: 100%;
    left: 0;
  }
  
  .main_nav__navLinks a:hover {
    color: #fff; 
  }
  
  .main_nav__navLinks span ul {
    padding-top: 40px;
    border-top: 1px solid #fff;
  }
  
  .main_nav__navLinks span li {
    padding-top: 0;
  }

  /* Hide sublinks by default */
.main_nav__subLinks {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    /* left: 0; */
    background: #444;
    /* padding: 15px 0; */
    text-align: center;
    z-index: 100;
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
  
.main_nav__subLinks__parent:hover .main_nav__subLinks {
    visibility: visible;
    opacity: 1;
}

.main_nav__subLinks__parent li {
    border-bottom: 2px solid #000;
}

.main_nav__subLinks__parent li:last-child {
    border-bottom: none;
}
  
  .main_nav__social_icons li:hover {
    color: var(--primary-orange);
    cursor: pointer;
  }
  
  .main_nav__social_icons {
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .main_nav__social_icons li {
    margin: 0 15px;
  }
  
  .main_nav__social_icons_false {
    display: none;
  }
  
  .main_nav__mobile_links {
    display: flex;
    justify-content: center;
  }
  
  .hamburger {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .bar1_open {
    transform: rotate(-45deg) translate(-6px, 4px);
  }
  
  .bar2_open {
    opacity: 0;
  }
  
  .bar3_open {
    transform: rotate(45deg) translate(-8px, -7px);
  }
  
  @media screen and (min-width: 767px) {
    .main_nav__container {
      max-width: 90%;
      padding: 10px 0;
      margin: auto;
    }

    .main_nav__subLinks {        
        text-align: left;
    }
  
    .main_nav__navLinks {
      flex-direction: row;
      justify-content: space-around;
      position: relative;
      top: -1px;
      padding-right: 10px;
      visibility: visible;
    }
  
    .main_nav__navLinks li {
      font-size: 1rem;
      background-color: transparent;
    }
  
    .main_nav__mobile_links,
    .main_nav__toggle {
      display: none;
    }
  
    .main_nav__social_icons_false {
      display: block;
      color: #fff;
    }
  
    .main_nav__mobile_links .shadow {
      box-shadow: 0;
    }
  }
  