.privacy_policy__container {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    margin: 75px auto;
    padding: 75px 115px;
    text-align: center;
    background-color: #333;
    border-radius: 10px;
}

.privacy_policy__container h3 {
    margin-top: 10px;
    margin-bottom: 0;
}