
.services_pages__section {
    justify-content: flex-start;
    padding: 75px 0 50px;
}
.services_pages__container {
    /* max-width: 1200px; */
    width: 100%;
    padding: 20px 15px 75px;
    margin: auto;
}

.service__breadcrumbs {
    max-width: 1200px;
    margin: auto;
}

.service__breadcrumbs a:hover,
.service__breadcrumbs span {
    color: var(--primary-color);
}

.services_features__section {
    max-width: 1200px;
    margin: auto;
}

.services_features__items {
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 20px 0;
}

.services_features__items li {    
    padding: 20px;  
    background-color: var(--primary-bg-color);
    /* text-align: center; */
}

.services_pages_stats {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
    gap: 10px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 1200px;
    margin: auto;
    padding: 20px 0;
}

.services_pages_stats li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px 25px;
    background-color: var(--primary-bg-color);
}

.services_pages_stats li svg {
    color: var(--primary-color);
    font-size: 2rem;
}

.services_pages_stats h2 {
    font-size: 1em;
}