.sitemap__container {
    max-width: 900px;
    margin: 75px auto;
    padding: 75px;
    background-color: var(--primary-bg-color);
    border-radius: 10px;
}

.sitemap__container h2 {
    margin-bottom: 10px;
}

.sitemap__container ul:nth-child(2) {
    margin-bottom: 20px;
}

.sitemap__container ul li {
    margin-bottom: 5px;
}