.social_icons__component {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    list-style: none;
}

.social_icons__component li {    
    padding: 10px;
    margin-right: 15px;
    font-size: .8em;
    border: 1px solid var(--primary-orange);
    border-radius: 50%;
    background-color: var(--primary-orange);
    cursor: pointer;
}

.social_icons__component li:hover {    
    color: var(--primary-orange);
    background-color: #fff;
}

@media screen and (min-width: 1023px) {
    .social_icons__component {
        justify-content: flex-start;
    }
}